# compare https://github.com/home-assistant/home-assistant/blob/dev/requirements_all.txt

homeassistant

aiohttp==3.4.0
voluptuous==0.11.5

# homeassistant.components.emulated_hue
# homeassistant.components.http
aiohttp_cors==0.7.0

# homeassistant.components.frontend
home-assistant-frontend==20180903.0

# homeassistant.components.discovery
netdisco==2.0.0

# homeassistant.components.recorder
# homeassistant.scripts.db_migrator
# homeassistant.components.sensor.sql
sqlalchemy==1.2.11

# homeassistant.components.config.config_entries
voluptuous-serialize==2.0.0

# homeassistant.components.media_player.bluesound
# homeassistant.components.sensor.startca
# homeassistant.components.sensor.swiss_hydrological_data
# homeassistant.components.sensor.ted5000
# homeassistant.components.sensor.yr
# homeassistant.components.sensor.zestimate
xmltodict==0.11.0
