cryptography==2.3.1

PyQRCode==1.2.1
aiohttp_cors==0.7.0
distro==1.3.0
flux_led==0.22
gTTS-token==1.1.3
mutagen==1.42.0
netdisco==2.3.0
pyairvisual==2.0.1
pydispatcher==2.0.5
pyotp==2.2.6
sqlalchemy==1.2.15
warrant==0.6.1
xmltodict==0.11.0
